{
  "extends": "airbnb",
  "rules": {
    "indent": 2,
    "func-names": "off",
    "no-unused-expressions": "off"
  },
  "parser": "babel-eslint",
  "globals": {
    "describe": true,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "expect": true
  }
}
