html
  head
    title Weather Forecast Web App
  body
    h1 Please enter location and select weekday
    div
      form(action='/weather', method='GET')
        label(for="location") Please enter name of city
        input#location(type="text" name="location")
        input(type="submit" value="Get Weather Forecast")
        label= data && data.daily.summary