html
  head
    title Weather Forecast Web App
  body
    h1 Please enter location and select weekday
    div
      form(action='/weather', method='GET')
        label(for="location") City Name
        input#location(type="text" name="location")
        select(id="day", name="day")
          option(value="today") Today
          option(value="0") Sunday
          option(value="1") Monday
          option(value="2") Tuesday
          option(value="3") Wednesday
          option(value="4") Thursday
          option(value="5") Friday
          option(value="6") Saturday


        input(type="submit" value="Get Forecast")
        label= (data && data.daily && data.daily.data[0].summary) || (data && data.err)